<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activationSection" type="Telemetry.Providers.ConfigFile.ActivationSection, Telemetry.Providers.ConfigFile"/>
  </configSections>
  <activationSection min-importance="Normal">
    <constricts>
      <!-- limit beyond the global minimal limitation (set higher limit) -->
      <constrict importance="Critical">
        <filter path="flow:WebApi:pingcontroller:ping"/>
      </constrict>
      <constrict importance="Critical">
        <filter path="flow:WebApi:test-class:test-method-b"/>
        <filter path="dry:pushed-to-all"/>
      </constrict>
      <constrict importance="High" component-tag="web-api">
        <filter path="controller:reports"/>
        <filter path="controller-action:get-info"/>
        <!--<filter path="controller-action-params:take"/>
      <filter path="controller-action-params:use"/>-->
      </constrict>
      <constrict importance="High">
        <filter path="controller:reports"/>
        <filter path="controller-action:get-info"/>
        <filter path="sp:select-info"/>
      </constrict>
      <constrict importance="High">
        <filter path="m.z"/>
        <filter path="q.r"/>
        <filter path="institute:The-University"/>
      </constrict>
      <constrict importance="High">
        <filter path="class:biology"/>
      </constrict>
    </constricts>
    <extends>
      <!-- extend the global minimal limitation () -->
      <extend importance="Low" >
        <filter path="env:dev"/>
      </extend>
      <extend importance="Low">
        <filter path="flow:WebApi:test-class:test-method-a"/>
        <filter path="dry:pushed-to-all"/>
      </extend>
    </extends>
  </activationSection>
  <appSettings>
    <add key="influx-url" value="http://localhost:8086"/>
    <add key="influx-database" value="database"/>
    <add key="influx-report-version" value="v1"/>
  </appSettings>
</configuration>