<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activationSection" type="Telemetry.Providers.ConfigFile.ActivationSection, Telemetry.Providers.ConfigFile"/>
  </configSections>

  <activationSection enable="true">
    <exclude min-importance="Normal">
      <filter path="a.b.c"/>
      <filter path="a.b.c.d"/>
      <filter path="x.y*"/>
    </exclude>
    <exclude min-importance="Low">
      <filter path="m.z"/>
      <filter path="q.r"/>
    </exclude>
  </activationSection>
  <!--<activationSection enable="true">
    <exclude minimportance="Normal">
      <tags>
        <add name="operationName" value="X"/>
        <add name="operationGroup" value="Y"/>
      </tags>
    </exclude>
  </activationSection>-->
</configuration>