<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="activationSection" type="Telemetry.Providers.ConfigFile.ActivationSection, Telemetry.Providers.ConfigFile"/>
  </configSections>

  <activationSection min-importance="Low">
    <limit-to importance="Normal">
      <filter path="a.b.c"/>
      <filter path="a.b.c.d"/>
      <filter path="x.y*"/>
    </limit-to>
    <limit-to importance="High">
      <filter path="m.z"/>
      <filter path="q.r"/>
      <filter path="institute:The-University"/>
    </limit-to>
    <limit-to importance="High">
      <filter path="class:biology"/>
    </limit-to>
  </activationSection>
</configuration>