<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="activationSection" type="Telemetry.Providers.ConfigFile.ActivationSection, Telemetry.Providers.ConfigFile" />
  </configSections>
  <activationSection metric-threshold="Normal" textual-threshold="Information">
    <constricts>
      <!-- limit beyond the global minimal limitation (set higher limit) -->
      <!--<constrict metric-threshold="[higher-level-than-metric-threshold]">
        <filter path="flow:[layer]:[class-name]:[method-name]"/>
      </constrict>-->
      <constrict metric-threshold="Critical" textual-threshold="Error">
        <filter path="flow:webapi:valuescontroller:get"/>
      </constrict>
      <constrict metric-threshold="Critical" textual-threshold="Error">
        <filter path="flow:WebApi:pingcontroller:ping" />
      </constrict>
      <constrict textual-threshold="Fatal">
        <!-- textual only -->
        <filter path="flow:WebApi:test-class:test-method-b" />
        <filter path="dry:pushed-to-all" />
      </constrict>
      <constrict metric-threshold="High">
        <!-- metric only -->
        <filter path="flow:WebApi:test-class:test-method-c" />
        <filter path="dry:pushed-to-all" />
      </constrict>
      <constrict metric-threshold="High" textual-threshold="Warning">
        <filter path="controller:reports" />
        <filter path="controller-action:get-info" />
        <!--<filter path="controller-action-params:take"/>
      <filter path="controller-action-params:use"/>-->
      </constrict>
      <constrict metric-threshold="High" textual-threshold="Warning">
        <filter path="controller:reports" />
        <filter path="controller-action:get-info" />
        <filter path="sp:select-info" />
      </constrict>
    </constricts>
    <extends>
      <!-- extend the global minimal limitation () -->
      <extend metric-threshold="Low" textual-threshold="Debug">
        <filter path="env:dev" />
      </extend>
      <extend metric-threshold="Low" textual-threshold="Debug">
        <filter path="flow:WebApi:test-class:test-method-a" />
        <filter path="dry:pushed-to-all" />
      </extend>
    </extends>
  </activationSection>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="influx-url" value="http://localhost:8086" />
    <add key="influx-database" value="telemetry" />
    <add key="influx-report-version" value="v1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
